body {
  text-align: center;
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  height: 30vh;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #5c159d;
  font-size: 24px;
}

h2 {
  color: #5c159d;
  margin: 20px;
}

/* .stage{
   align-content: center; 
} */

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid #b35900;
  display: inline-block;
  border-radius: 10px;
}

.o {
  position: relative;
}

.o::after {
  position: absolute;
  content: url("../assets/icons/nought.png");

  /* content: "\2B55"; */
  font-size: 100px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  position: relative;
}

.x::after {
  position: absolute;
  /* content: "\274C"; */
  content: url("../assets/icons/cross.png");

  font-size: 100px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#btnRestart {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
}

#btnRestart:hover {
  transition: 0.5s;
  background-color: #ffb366;
  cursor: pointer;
}

/* .container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50vw;
} */
/* .player, .numberOfWins{
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
  height: 250px;
  border-radius: 10px;
} */

.players {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  position: relative;
  float: right;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate(-120%, -200%);
}

input {
  margin: 20px;
  width: 150px;
  height: 20px;
  text-align: center;
  border: 2px solid #5c159d;
  border-radius: 5px;
  font-size: 16px;
}

.numberOfWins {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  position: relative;
  float: right;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate(100%, -198%);
}

/* responsividade para mobile */
@media (max-width: 1112px) {
  body {
    /* text-align: center; */
    background-image: url("../assets/images/background_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #logo {
    height: 20vh;
    display: flex;
    justify-content: flex-start;
  }

  .players {
    transform: translate(-10%, -420%);
  }
  .stage {
    margin-top: 50px;
  }
}
